<div id="admin-locker-index">

<div id="admin-top">
  <h1 class="admin-title">Search Results</h1>
  <h3><%= @rentals.count %> rentals found</h3>
  <h3>Last Name: <%= @last_name %></h3>
  <h3>Phone: <%= @phone_number %></h3>
  <% if flash[:notice] %>
    <p id="admin-index-error" class="<%= device_id_class %>"><%= flash[:notice] %></p>
  <% end %>
  <%= link_to "RENTAL SEARCH", search_admin_rentals_path(last_name: @last_name, phone_number: @phone_number), class: "admin-button admin-nav-button" %>
  <%= link_to "ADMIN HOME", admin_lockers_path, class: "admin-button admin-nav-button left" %>
</div>

<div id="admin-container">
  <% @rentals.each do |rental| %>
    <div class="admin-locker">
      <div class="admin-locker-text">
        <span class="locker-title">
          Locker #<%= rental.locker.id %> --
          <%= rental.locker.coordinates %>
          <% if rental.locker.large %> -- TABLET<% end %>
        </span>
        <br>
        <br>
        <span class="rental-data"><span class="title">Last Name:</span> <%= rental.last_name %></span>
        <span class="rental-data"><span class="title">Phone Number:</span> <%= rental.phone_number %></span>
        <span class="rental-data"><span class="title">Unique ID:</span> <%= rental.hashed_id %></span>
        <span class="rental-data"><span class="title">Created on iPad:</span> <%= rental.creation_device_id %></span>
      </div>
      <div class="admin-locker-links">
        <%= link_to "SELECT", admin_rental_path(rental, search: "t"), class: "admin-button" %>
      </div>
    </div>
  <% end %>
</div>

</div>
