<div class="idle-watch" data-count="30" data-destination="<%= admin_lockers_url %>"></div>

<%= image_tag "power_up.png", class: "logo smaller" %>

<p class="form-errors">
  <%= flash[:notice] if flash[:notice] %>
</p>

<div id="inner-container">
  <%= form_tag find_admin_rentals_path, class: "validate-admin-form" do %>
    <%= text_field_tag "last_name", @last_name.upcase, placeholder: "LAST NAME", class: "text-input line-2 name-input" %>
    <%= text_field_tag "phone_number", @phone_number, placeholder: "LAST 4 DIGITS OF PHONE #", class: "text-input line-3 phone-input",
        type:"number", min: "0", inputmode:"numeric", pattern:"[0-9]*",
        onkeypress: "return event.charCode >= 48 && event.charCode <= 57" %>
    <%= submit_tag "submit", id: "admin-search-button", class: "hidden-submit" %>
  <% end %>
</div>

<div id="button-container">
  <%= link_to "ADMIN", admin_lockers_path, class: "btn left small" %>
  <label for="admin-search-button" class="btn center large submit-label green">ENTER</label>
  <%= image_tag "chase.png", class: "chase-logo"  %>
</div>
