<div class="idle-watch" data-count="30" data-destination="<%= admin_lockers_url %>"></div>

<%= image_tag "power_up.png", class: "logo smaller" %>

<p class="form-errors">
  <%= flash[:notice] if flash[:notice] %>
</p>

<div id="inner-container">
  <div class="text-box long orange">
    <p>NAME: <%= @rental.last_name %><br>PHONE: <%= @rental.phone_number %></p>
  </div>
</div>

<div id="button-container">
  <%= link_to "ADMIN", admin_lockers_path, class: "btn left small" %>
  <%= button_to "UNLOCK", retrieve_admin_rental_path(@rental), class: "btn center large green" %>
</div>
