
<% if flash[:notice] %>
  <p class="form-errors"><%= flash[:notice] %></p>
<% end %>


<% if @all_lockers_full %>
  <p class="no-rental">Sorry, All Lockers Are Currently Full</p>
<% else %>
  <%= form_for @rental, html: {id: "new-rental-form"} do |f| %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "button" %>
    <%= f.text_field :phone_number, placeholder: "Phone Number", class: "button" %>
  <% end %>
<% end %>

<div id="button-container">
   <%= link_to "BACK", root_path, class: "btn left small" %>

   <%= link_to "ENTER", "#", class: "btn center large green submit-btn",
               "data-target": "#new-rental-form" %>

</div>
