<%= image_tag "power_up.png", class: "logo smallest" %>

<% if flash[:notice] %>
  <p class="form-errors"><%= flash[:notice] %></p>
<% end %>
<%= form_tag(complete_rentals_path, method: :put) do  %>
  <%= text_field_tag 'rental[last_name]', "", placeholder: "Last Name", class: "button" %>
  <%= text_field_tag 'rental[phone_number]', "", placeholder: "Phone Number", class: "button" %>
  <%= submit_tag "Retrieve", class: "button submit" %>
<% end %>
