<%= image_tag "power_up.png", class: "logo smallest" %>


<div id="inner-container">
  <% if @rental.current %>
    <div id="place-device">
      <p>PLEASE PLACE DEVICE IN<br>LOCKER <%= @rental.locker_id %></p>
    </div>
  <% else %>
    <div id="retreive-device">
      <p>PLEASE PICK UP DEVICE FROM<br>LOCKER <%= @rental.locker_id %></p>
    </div>
  <% end %>
</div>

<div id="button-container">
  <% if @rental.current %>
    <%= link_to "COMPLETE", root_path, class: "btn large center" %>
  <% else %>
    <%= link_to "UNLOCK", root_path, class: "btn large center" %>
  <% end %>
</div>
