<%= image_tag "power_up.png", class: "logo smallest" %>


<div id="inner-container">
  <% if @rental.current %>
    <div class="text-box green">
      <p>PLEASE PLACE DEVICE IN<br>LOCKER <%= @rental.locker.coordinates %></p>
    </div>
  <% else %>
    <div class="text-box orange long">
      <p>PLEASE PICK UP DEVICE FROM<br>LOCKER <%= @rental.locker.coordinates %></p>
    </div>
  <% end %>
</div>

<div id="button-container">
  <% if @rental.current %>
    <%= link_to "COMPLETE", hub_rentals_path, class: "btn large center" %>
  <% else %>
    <%= link_to "UNLOCK", hub_rentals_path, class: "btn large center" %>
  <% end %>
</div>
