<div id="idle-watch" data-destination="<%= hub_rentals_url %>" ></div>

<%= image_tag "power_up.png", class: "logo smaller" %>

<p class="form-errors">
  <%= flash[:notice] if flash[:notice] %>
</p>

<div id="inner-container">
  <div class="text-box blue small short">
    <p>DEVICE</p>
  </div>

  <%= link_to "PHONE", new_rental_path, class: "btn" %>
  <%= link_to "TABLET", new_rental_path(tablet: true), class: "btn bottom" %>

</div>

<div id="button-container">
  <%= link_to "BACK", hub_rentals_path, class: "btn left small" %>
  <%= image_tag "chase.png", class: "chase-logo"  %>

</div>
