<div id="admin-locker-index">

<div id="admin-top">
  <h1 class="admin-title">PowerUp Admin View</h1>
  <h3><%= pluralize(@occupied_count, 'locker') %> occupied</h3>
  <h3><%= pluralize(@open_count, 'locker') %> open</h3>
  <%= link_to "RENTAL SEARCH", search_admin_rentals_path, class: "admin-button admin-nav-button" %>
</div>

<div id="admin-container">
  <% @lockers.each do |locker| %>
    <div class="admin-locker <%= 'occupied' if locker.occupied %>">
      <div class="admin-locker-text">
        <span class="locker-title">Locker #<%= locker.id %>: <%= locker.text_status %></span>
        <% if locker.occupied? %>
          <% current_rental = locker.current_rental %>
          <span class="locker-data"><span class="title">Last Name:</span> <%= current_rental.last_name %></span>
          <span class="locker-data"><span class="title">Phone Number:</span> <%= current_rental.phone_number %></span>
          <span class="locker-data"><span class="title">Unique ID:</span> <%= current_rental.hashed_id %></span>
          <span class="locker-data"><span class="title">Device ID:</span> <%= current_rental.device_id %></span>
        <% end %>
      </div>
      <div class="admin-locker-links">
        <% if locker.occupied %>
          <%= link_to "Retrieve Phone", admin_rental_path(locker.current_rental), class: "admin-button" %>
        <% end %>
        <%= link_to "Rental Summary", admin_locker_path(locker), class: "admin-button" %>
      </div>
    </div>
  <% end %>
</div>

</div>
