<div id="admin-locker-index">

<div id="admin-top">
  <h1 class="admin-title">PowerUp Admin View</h1>
  <h3><%= pluralize(@occupied_count, 'locker') %> occupied</h3>
  <h3><%= pluralize(@open_count, 'locker') %> open</h3>
  <% if flash[:notice] %>
    <p id="admin-index-error" class="<%= device_id_class %>"><%= flash[:notice] %></p>
  <% end %>
  <%= link_to "RENTAL SEARCH", search_admin_rentals_path, class: "admin-button admin-nav-button" %>
</div>

<div id="admin-container">
  <% @lockers.each do |locker| %>
    <div class="admin-locker <%= 'occupied' if locker.occupied %>">
      <div class="admin-locker-text">
        <span class="locker-title">
          Locker #<%= locker.id %> --
          <%= locker.coordinates %> --
          <% if locker.large %>TABLET --<% end %>
          <%= locker.text_status %>
        </span>
        <% if locker.occupied? && locker.current_rental.present? %>
          <% current_rental = locker.current_rental %>
          <br>
          <br>
          <span class="rental-data"><span class="title">Last Name:</span> <%= current_rental.last_name %></span>
          <span class="rental-data"><span class="title">Phone Number:</span> <%= current_rental.phone_number %></span>
          <span class="rental-data"><span class="title">Unique ID:</span> <%= current_rental.hashed_id %></span>
          <span class="rental-data"><span class="title">Created on iPad:</span> <%= current_rental.creation_device_id %></span>
        <% end %>
      </div>
      <div class="admin-locker-links">
        <% if locker.occupied && locker.current_rental.present? %>
          <%= link_to "Retrieve Device", admin_rental_path(locker.current_rental), class: "admin-button" %>
        <% end %>
        <%= link_to "History", admin_locker_path(locker), class: "admin-button" %>
        <%= button_to "Clear Locker", clear_admin_locker_path(locker), class: "admin-button",
            data: {confirm: "This will force the locker to 'unoccupied', open the locker, and end the current rental (if present)"} %>
      </div>
    </div>
  <% end %>
</div>

</div>
